.accordion {
  padding: 25px 30px;
  margin-bottom: 40px;
  border: 1px solid rgba($color-bright, .2);
  border-radius: 4px;
}

.accordion_btn {
  width: 100%;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 49px;
  color: $color-dark;
  background-color: $color-light;
  border: none;
}

.accordion_answer {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.accordion_icon {
  display: inline-block;
  position: relative;
  margin-left: auto;
  width: 40px;
  height: 40px;

  &::before,
  &::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    background-color: $color-bright;
  }

  &::before {
    width: 40px;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 40px;
  }
}
