.accordion {
  padding: 25px 30px;
  margin-bottom: 40px;
  border: 1px solid rgba($color-bright, .2);
  border-radius: 4px;

  @media (max-width: $mobile-max) {
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px 0px rgba(212, 98, 64, 0.2);
    border: none;
  }
}

.accordion_btn {
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 49px;
  color: $color-dark;
  background-color: $color-light;
  border: none;
  cursor: pointer;

  &.open {
    .accordion_icon::after {
      opacity: 0;
    }
  }

  @media (max-width: $tablet-max) {
    font-size: 32px;
    line-height: 43px;
  }

  @media (max-width: $mobile-max) {
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
}

.accordion_answer {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  display: none;

  @media (max-width: $tablet-max) {
    font-size: 16px;
    line-height: 21px;
  }

  @media (max-width: $mobile-max) {
    font-size: 14px;
    line-height: 19px;
  }
}

.accordion_icon {
  display: inline-block;
  position: relative;
  margin-left: auto;
  width: 40px;
  height: 40px;

  &::before,
  &::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    background-color: $color-bright;
  }

  &::before {
    width: 40px;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 40px;
  }

  @media (max-width: $mobile-max) {
    width: 30px;
    height: 30px;

    &::before {
      width: 30px;
      height: 2px;
    }

    &::after {
      width: 2px;
      height: 30px;
    }
  }
}
