.carousel {
  display: flex;
  align-items: center;
}

.slick-arrow {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: $color-bright;
}

.slick-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 22px;
}

.carousel_ava {
  display: inline-block;
  border-radius: 50%;
}

.carousel_review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}
