.catalog {
  padding-top: 220px;
  padding-bottom: 130px;

  @media (max-width: $tablet-max) {
    padding-top: 210px;
    padding-bottom: 70px;
  }

  @media (max-width: $mobile-max) {
    padding-top: 180px;
    padding-bottom: 50px;
  }
}

.catalog_inner {
  @include inner
}

.catalog_title {
  font-family: $font;
  margin-bottom: 77px;
  font-size: 64px;
  font-weight: $h2-fw;
  line-height: 87.16px;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 81px;
  }

  @media (max-width: $mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }
}

.catalog_cards {
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: $tablet-max) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 60px;
  }
}

.catalog_list {
  margin-bottom: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 50px;

  @media (max-width: $tablet-max) {
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
  }

  @media (max-width: $mobile-max) {
    overflow: auto;
    margin-bottom: 30px;
    gap: 20px;
  }
}

.catalog_item {
  display: inline-block;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.catalog_link {
  display: inline-block;
  color: $color-black;
}

.catalog_link:hover {
  color: $color-bright;
}
