.footer {
  padding: 31px 0;
  background-color: $color-dark;
}

.footer_inner {
  @include inner;
}

.footer_row {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-max) {
    flex-direction: column;
  }
}

.footer_list {
  display: inline-flex;
  flex-direction: row;
  gap: 15px;
}

.footer_logo {
  margin-right: auto;
  font-size: 42px;
  font-weight: 600;
  line-height: 57px;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.phone_number {
  display: inline-block;
  margin-right: 60px;
  font-size: 28px;
  line-height: 38px;

  @media (max-width: $mobile-max) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.social_icon {
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
