.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /*padding: 16px 0;*/
  color: $color-light;
  background-color: $color-dark;

  @media (max-width: $mobile-max) {
    padding: 16px 0;
  }
}

.header_inner {
  @include inner;
}

.header_row {
  display: flex;
  align-items: center;
}

/*.menu_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: $mobile-max) {
    display: none;
  }
}*/

.logo {
  margin-right: auto;
  display: inline;
  font-size: 42px;
  font-weight: 600;
  line-height: 57px;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }
}

/*.menu_item {
  padding: 33px 25px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}*/

/*.menu_item:hover {
  background-color: $color-bright;
}*/

.header_burger {
  display: none;
}
