.order {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: rgba($color-dark, .1);

  @media (max-width: $tablet-max) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media (max-width: $mobile-max) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.order_inner {
  @include inner;
}

.order_title {
  margin-bottom: 40px;
  font-weight: $h2-fw;
  font-size: 64px;
  line-height: 87px;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 81px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 49px;
  }
}

.order_text {
  padding-bottom: 90px;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;

  @media (max-width: $mobile-max) {
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 34px;
  }
}
