.order {
  text-align: center;
  background-color: rgba($color-dark, .1);
}

.order_inner {
  margin: 0 auto;
  width: 1278px;
}

.order_title {
  padding-top: 130px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
}

.order_text {
  padding-bottom: 90px;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
}
