.portfolio_inner {
  margin: 0 auto;
  width: 1278px;
}

.portfolio_title {
  padding-top: 130px;
  margin-bottom: 100px;
  font-size: 64px;
  font-weight: $h2-fw;
  line-height: 87px;
}

.portfolio_cards {
  display: flex;
  gap: 20px;
}

.card_visual {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.card_content {
  position: relative;
  margin-bottom: 20px;
  background-color: rgba($color-black, .4);
}

.card_text {
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 15px 48px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  background-color: rgba($color-black, .4);
  color: $color-light;
}
