.portfolio_inner {
  @include inner;
}

.portfolio_title {
  padding-top: 130px;
  margin-bottom: 100px;
  font-size: 64px;
  font-weight: $h2-fw;
  line-height: 87px;

  @media (max-width: $tablet-max) {
    padding-top: 120px;
    margin-bottom: 80px;
    font-size: 60px;
    line-height: 81px;
  }

  @media (max-width: $mobile-max) {
    padding-top: 90px;
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 49px;
  }
}

.portfolio_cards {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.card_visual {
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_content {
  position: relative;
  flex-basis: calc(25% - 60px / 3);
  background-color: rgba($color-black, .4);

  @media (max-width: $tablet-max) {
    flex-basis: calc(50% - 20px);
  }

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
  }
}

.card_text {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  padding: 15px 48px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  background-color: rgba($color-black, .4);
  color: $color-light;

  @media (max-width: $tablet-max) {
    padding: 20px 78px;
  }
}
