.portfolio {
  text-align: center;
}

.portfolio_inner {
  margin: 0 auto;
  width: 1278px;
}

.portfolio_title {
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 87px;
}

.portfolio_cards {
  display: flex;
  gap: 20px;
}

.card_content {

}

.card_text {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.portfolio_button {
  font-family: Open Sans;
  font-size: 42px;
  font-weight: 400;
  line-height: 57px;
}
