.promo {
  color: $color-light;
  text-align: center;
  background-image: url("../images/butterfly_promo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo_fade {
  background-color: rgba($color-dark, .4);
}

.promo_inner {
  margin: 0 auto;
  width: 1278px;

  /*@media (max-width: 1279px) {
    width: auto;
    max-width: 1024px;
  }*/
}

.promo_title {
  padding-top: 200px;
  font-size: 72px;
  font-weight: 600;
  line-height: 98px;
}

/*.promo-ttl {
  font-size: $h1-fz-desktop;
  font-weight: $h1-fw;

  @media (max-width: 1279px) {
    font-size: $h1-fz-tablet;
  }

  @media (max-width: 669px) {
    font-size: $h1-fz-mobile;
  }
}*/
