.promo {
  color: $color-light;
  background-image: url("../images/butterfly-promo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo_fade {
  background-color: rgba($color-dark, .4);
}

.promo_inner {
  @include inner;

  /*@media (max-width: 1279px) {
    width: auto;
    max-width: 1024px;
  }*/
}

.promo_title {
  /*padding-top: 290px;*/
  font-size: 72px;
  font-weight: $h1-fw;
  line-height: 98px;

  @media (max-width: $tablet-max) {
    font-size: 64px;
    line-height: 73px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 43px;
  }
}

/*.promo-ttl {
  font-size: $h1-fz-desktop;
  font-weight: $h1-fw;

  @media (max-width: 1279px) {
    font-size: $h1-fz-tablet;
  }

  @media (max-width: 669px) {
    font-size: $h1-fz-mobile;
  }
}*/
