.reviews {
  padding: 220px 0 130px;
}

.reviews_inner {
  @include inner
}

.reviews_title {
  margin-bottom: 77px;
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 87px;
}
