.reviews {
  padding: 220px 0 130px;

  @media (max-width: $tablet-max) {
    padding: 210px 0 120px;
  }

  @media (max-width: $mobile-max) {
    padding: 160px 0 90px;
  }
}

.reviews_inner {
  @include inner
}

.reviews_title {
  margin-bottom: 80px;
  font-family: Open Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 87px;

  @media (max-width: $tablet-max) {
    margin-bottom: 70px;
    font-size: 60px;
    line-height: 81px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 49px;
  }
}

.reviews_carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviews_user {
  margin-right: 128px;
  margin-left: 128px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 22px;

  @media (max-width: $tablet-max) {
    margin-right: 20px;
    margin-left: 20px;
  }

  @media (max-width: $mobile-max) {
    margin: 0;
    flex-direction: column;
  }
}

.reviews_ava {
  width: 304px;
  height: 304px;
  display: inline-block;
  flex-shrink: 0;
  border-radius: 50%;

  @media (max-width: $tablet-max) {
    width: 236px;
    height: 236px;
  }

  @media (max-width: $mobile-max) {
    width: 188px;
    height: 188px;
  }
}

.ava {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reviews_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 40px;
  text-align: left;

  @media (max-width: $mobile-max) {
    row-gap: 20px;
    text-align: center;
  }
}

.reviews_name {
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }
}

.reviews_quote {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;

  @media (max-width: $tablet-max) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (max-width: $mobile-max) {
    font-size: 16px;
    line-height: 21px;
  }
}
