// Fonts
$font: 'Open Sans', sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 600;

$h2-fw: 400;

// colors
$color-bg: #C4C4C4;
$color-black: #000000;
$color-light: #FFFFFF;
$color-dark: #333333;
$color-bright: #FF2D2D;

// indents

// breakpoints
$desctop: 1280px;
$tablet: 768px;
$mobile: 320px;

$tablet-max: $desctop - 1px;
$mobile-max: $tablet - 1px;
